.navigation {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-mark {
  list-style-type: none;
  padding: 0;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.navigation__link {
  font-family: 'Montserrat', Arial sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

@media all and (max-width: 1446px) {
  .navigation {
    grid-column: 3/4;
    display: none;
  }

  .navigation__link {
    font-size: 12px;
  }
}
