.header{
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  'logo nav . callback submit';
  grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);
  margin: 45px 0 40px 0;
}

.header__logo{
  grid-area: logo;
  margin-right: 76px;
}

.callback{
  grid-area: callback;
  border: 1px solid rgba(227, 223, 223, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 60px;
  transform: skew(-20deg);
  margin-right: 12px;
  transition: box-shadow .4s ease;
  background-color: transparent;
}

.callback:hover{
  cursor: pointer;
  box-shadow: 0 4px 10px #b8a97e, 0 5px 5px #bab29e;
}

.callback__image{
  transform: skew(20deg);
}

.submit{
  grid-area: submit;
  position: relative;
  background-color: #C2AB81;
  border: none;
  transform: skew(-20deg);
  box-shadow: none;
  transition: box-shadow .4s ease;
  width: 282px;
  height: 60px;
}

.submit:after{
  position: absolute;
  right: -19px;
  top: 0;
  content: "";
  background-color: #fff;
  width: 10px;
  height: 60px
}

.submit:hover{
  cursor: pointer;
  box-shadow: 0 4px 10px #b8a97e, 0 5px 5px #bab29e;
}

.submit__value{
  font-family: 'Montserrat', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  margin: 0 auto;
  transform: skew(20deg);
}

/*@media all and (max-width: 420px){*/
/*  .header{*/
/*    margin: 28px 0 42px 0;*/
/*  }*/
/*}*/
