.content {
  padding: 0 108px;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

@media all and (max-width: 1472px) {
  .content {
    padding: 0 37px;
  }
}

@media all and (max-width: 568px) {
  .content {
    padding: 0 10px;
  }
}

@media all and (max-width: 420px) {
  .content {
    padding: 0;
  }
}
